body{
    margin: 0;
    font-family:'inter',sans-serif;
    font-size: 18px;
    letter-spacing: -.18px;
    
    transform: scale(.9);
    

}  


.login-page,
.login-info
{
    display: flex;
    height: 100vh;
}

  .login-page{
    border:solid 1px #e0e0e0;
    border-radius: 8px;
  }  


.container{
    width: 50%;
}
.login-image{
    width: 100%;
    height: 100vh;
}
.login-info{
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
}
.social-buttons-box,
.social-button{
    display: flex;
    flex-direction: row;
}
.login-checkbox{
    display: flex;
    gap: 10px;  
}


/*buttons*/
.social-button{
    box-sizing:margin-box;
    background-color: white;
    font-size: 1rem;
    font-family: 'inter',sans-serif;
    border:1px solid #e0e0e0;
    height: 56px;
    width: 260px;
    margin-right: 10px;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    
}
.button{
    margin: right 10px;
    
}
.icon{
    margin-right: 16px;
    width: 28px;
    height: 28px;
}
.fg-password{
    display: flex;
    justify-content: space-between;
    width: 530px;
}
#user-login{
    font-weight: 500;
    font-size: 1rem;
    color: white;
    font-family: 'inter',sans-serif;
    width: 530px;
    height: 56px;
    border: none;
    border-radius: 8px;
    text-align: center;
    background-color: #1B74E4;
    margin-top: 48px;
}
.footer{
    margin-top: 32px;
}
/*links*/
a{
    color: #1B74E4;
    text-decoration: none;
    font-weight: 500;
    
}
.default-clr{
    color: #616161;
    font-family: 400;
}
/*Separator*/

.separator-text{
    display: block;
    text-align: center;
    border-bottom: 1px solid #e0e0e0 ;
    height:12px;
    width: 530px;
    color: #bdbdbd;
    margin-top: 36px;
}
span{
    background-color: #Ffffff;
    padding: 0 4px;

}

/*placeholder*/
::placeholder{
    color: #A1A2A9;
    margin-top: 0;
}
input::placeholder{
    font-size: 1rem;
    font-family: 'inter',sans-serif;
    padding-left: 16px;
    
}
input[type=email]{
    width: 530px;
    height: 56px;
    border:solid 1px #e0e0e0;
    border-radius: 8px;
    margin-top: 12px;
}  
input[type=password]{
    width: 530px;
    height: 56px;
    border:solid 1px #e0e0e0;
    border-radius: 8px;
    margin-top: 12px;
}
input[type=checkbox]{
    height: 20px;
    width: 20px;
    margin: 0;
    border-radius: 4px;  
}
 #remember-me{
    -moz-appearance:none;
   -webkit-appearance:none;
   -o-appearance:none;
    outline: #e0e0e0 1px solid;
}
     /*color*/  
     .subtitle{
         color:#616161;
     }
       
/* Fonts */
h1{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
}

    
    

    